body{
    margin: 0;
    background-color: aqua;
}

h1{
    text-align: center;
}

table{
    margin-left: 20px;
}

.tampil{
    height: 50%;
    background-color: white;
}

.tampil h3{
    text-align: center;
}
